:host {
  display: block;
  line-height: 0;
}

.divider {
  display: block;
  width: 100%;
  height: 64px;
}

.divider--flip {
  transform: scaleY(-1);
}

@media (max-width: 600px) {
  .divider {
    height: 36px;
  }
}
